.glyphicon-heart{
	color: #e74c3c;
}

.memberEdit {
	height: 20px;
}

h4>span{
	color :black;
}
h5, h5>small{
	font-weight: bold;
}

.publicContent{
	border-top: 2px solid #e67e22;
	border-color: none;
	color: #e67e22;
}